<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-armando-micomponente">
  <template>
    <style>
      :host{
        display: inline-block;
        background-color: pink;
      }
    </style>
    <div><span>Mi primer Componente Polymer</span></div>
    <div><span>[[saludo]]</span></div>
    <button type="button" name="button">Boton</button>
    <div><span>[[contador]]</span></div>
  </template>


  <script>
    Polymer({
      is: 'my-armando-micomponente',
      properties: {
        saludo: String,
        contador: Number
      },
      listeners: {
        'tap':'incrementar'
      },
      incrementar: function() {
        this.contador = this.contador + 1;
      },
    })
  </script>

</dom-module>
