<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-armando-micomponente2">
  <template>
    <style>
      :host{
        display: inline-block;
        background-color: yellow;
      }
    </style>

    <div><span>Titulo: </span> <input type="text" name="" value="Añade el título del post"></div>
    <div><span>""</span></div>
    <div><span>Texo: </span><textarea name="textopost" value="Añade el texto del post" rows="8" cols="80"></textarea></div>
    <div><span>" "</span></div>
    <button id="botonpost" type="button" name="button">Boton Post2</button>
    <span>[[contador2]]</span>

    <template is="dom-repeat" items="[[listado]]">
      <div>
        <h2>{{item.titulo}}</h2>
        <h3>{{item.texto}}</h3>
      </div>
    </template>

  </template>


  <script>
    Polymer({
      is: 'my-armando-micomponente2',
      properties: {
        contador2: Number,
        listado: Array,
      },
      listeners: {
        'tap':'incrementar'
      },
      incrementar: function() {
        this.contador2 = this.contador2 + 1;
        this.listado.push({"titulo":"xxx", "texto":"yyy"});
      },
    })
  </script>

</dom-module>
